<div class="container rtl" style="padding-top: 5%;">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">خوش آمدید!</h1>
                  <div
                    style="color: #e74a3b; margin-bottom: 10px;"
                    *ngIf="!validInfo"
                  >
                    نام کاربری یا رمز عبور اشتباه است.
                  </div>
                </div>
                <form class="user" #form="ngForm" (submit)="submit(form.value)">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user is-invalid"
                      [class.is-invalid]="username.touched && !username.valid"
                      [class.is-valid]="username.touched && username.valid"
                      placeholder="نام کاربری"
                      name="username"
                      ngModel
                      #username="ngModel"
                      required
                    />
                    <div class="invalid-feedback" *ngIf="!username.valid">
                      نام کاربری الزامی است.
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      [class.is-invalid]="password.touched && !password.valid"
                      [class.is-valid]="password.touched && password.valid"
                      placeholder="رمز عبور"
                      name="password"
                      ngModel
                      #password="ngModel"
                      required
                    />
                    <div class="invalid-feedback" *ngIf="!password.valid">
                      رمز عبور الزامی است.
                    </div>
                  </div>
                  <!-- TODO: make remember me functioning -->
                  <!-- <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">مرا به خاطر بسپار</label>
                    </div>
                  </div> -->
                  <button
                    [disabled]="!form.valid"
                    class="btn btn-primary btn-user btn-block"
                    type="submit"
                  >
                    ورود
                  </button>
                </form>
                <hr />
                <!-- TODO: add password reset (it must be done by educational manager not by student) -->
                <!-- <div class="text-center">
                  <a class="small" href="forgot-password.html">رمز خود را فراموش کرده اید؟</a>
                </div> -->
                <div class="text-center">
                  <a class="small" routerLink="/register"
                    >ساخت حساب کاربری (مخصوص مدیران مدارس)</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
