<div class="container-fluid" *ngIf="data$ | async as data">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ data.school.name }}</h1>
  </div>

  <div class="row rtl">
    <div class="col-xl-2 col-md-4 mb-3">
      <info-card title="شهر" color="primary" icon="city">
        <div class="content">{{ data.school.city }}</div>
      </info-card>
    </div>

    <div class="col-xl-2 col-md-4 mb-3">
      <info-card title="منطقه" color="success" icon="city">
        <div class="content">{{ data.school.zone }}</div>
      </info-card>
    </div>

    <div class="col-xl-2 col-md-4 mb-3">
      <info-card title="تعداد دانش آموزان" color="info" icon="city">
        <div class="content">{{ data.count }}</div>
      </info-card>
    </div>
  </div>
</div>
