<input
  *ngIf="filteredData.length != 0"
  type="text"
  class="form-control"
  style="margin-bottom: 15px;"
  placeholder="جستجو..."
  ngModel
  #query="ngModel"
  (input)="search(query.value)"
/>
<ng-container *ngIf="filteredData.length != 0; else noData">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th></th>
        <th
          *ngFor="let column of columns"
          (click)="sort(column.path)"
          style="cursor: pointer;"
        >
          {{ column.label }}
          <i
            [style.color]="
              sortColumn.path == column.path ? 'black' : 'transparent'
            "
            class="fa {{
              sortColumn.order == 'asc' ? 'fa-sort-down' : 'fa-sort-up'
            }}"
          ></i>
        </th>
        <th *ngIf="actions.update || actions.delete || actions.info"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-row" *ngFor="let item of pagedData; let i = index">
        <td style="width: 2%;">{{ (page - 1) * limit + i + 1 }}</td>
        <td *ngFor="let column of columns">
          <ng-container
            *ngIf="getType(pick(item, column.path)) != 'object'; else obj"
            >{{ pick(item, column.path) }}
          </ng-container>
          <ng-template #obj>
            <span
              *ngFor="let subItem of pick(item, column.path); let j = index"
              [class]="column.classes[subItem[column.subPath]]"
            >
              {{ pick(subItem, column.subPath) }}
            </span>
          </ng-template>
        </td>
        <td *ngIf="actions.update || actions.delete || actions.info">
          <!-- REVIEW: bootstrap toast shall be useful -->
          <button
            *ngIf="actions.info"
            class="btn btn-info btn-circle"
            style="margin-left: 10px;"
            (click)="router.navigate([infoUrl])"
          >
            <i class="fas fa-info"></i>
          </button>
          <button
            *ngIf="actions.update"
            class="btn btn-primary btn-circle"
            style="margin-left: 10px;"
            (click)="router.navigate([updateUrl + item._id])"
          >
            <i class="fas fa-pen"></i>
          </button>
          <button
            *ngIf="actions.delete"
            class="btn btn-danger btn-circle"
            data-toggle="modal"
            [attr.data-target]="deleteWithoutWarning ? '' : '#deleteModal'"
            (click)="
              deleteWithoutWarning
                ? deleteByIndex(i)
                : deleteIndex > 0
                ? delete()
                : (this.deleteIndex = i)
            "
          >
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-2">
      <div class="input-group input-group-sm mb-3" style="width: 150px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">تعداد</span>
        </div>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="limit"
          (input)="syncPages()"
          [min]="1"
          [max]="filteredData.length"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="center">
        نمایش {{ limit }} مورد از {{ filteredData.length }}

        <button
          class="btn btn-sm btn-danger"
          style="margin-right: 20px;"
          data-toggle="modal"
          [attr.data-target]="'#deleteAllModal'"
        >
          &times; حذف همه
        </button>
      </div>
    </div>
    <div class="col-5"></div>
    <div class="col-2">
      <div class="float-left">
        <nav>
          <ul class="pagination">
            <li
              class="page-item"
              (click)="
                !(page * limit >= filteredData.length) ? shiftPage(1) : 0
              "
              [class.disabled]="page * limit >= filteredData.length"
            >
              <a class="page-link" aria-label="Previous" href="#">
                <i aria-hidden="true" class="fas fa-arrow-right"></i>
              </a>
            </li>
            <li
              class="page-item"
              *ngFor="let pageNumber of getPageNumbersArray()"
              (click)="syncPages(pagesCount - pageNumber + 1)"
              [class.active]="page == pagesCount - pageNumber + 1"
            >
              <a class="page-link" href="#">{{
                pagesCount - pageNumber + 1
              }}</a>
            </li>
            <li
              class="page-item"
              (click)="(page - 1) * limit != 0 ? shiftPage(-1) : 0"
              [class.disabled]="(page - 1) * limit == 0"
            >
              <a class="page-link" aria-label="Next" href="#">
                <i aria-hidden="true" class="fas fa-arrow-left"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noData>
  <div class="card bg-info text-white shadow rtl" style="padding: 15px;">
    <div class="text-inline">
      <i class="fa fa-info-circle" style="margin-left: 10px;"></i> داده ای برای
      نمایش یافت نشد.
    </div>
  </div>
</ng-template>

<!-- delete Modal-->
<div
  class="modal fade rtl"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">اخطار</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span (click)="deleteIndex = -1" aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        آیا از حذف این مورد اطمینان دارید؟
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="deleteIndex = -1"
          type="button"
          data-dismiss="modal"
        >
          انصراف
        </button>
        <button class="btn btn-danger" (click)="delete()" data-dismiss="modal">
          حذف
        </button>
      </div>
    </div>
  </div>
</div>

<!-- delete all Modal-->
<div
  class="modal fade rtl"
  id="deleteAllModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">اخطار</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span (click)="deleteIndex = -1" aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        آیا از حذف همه موارد اطمینان دارید؟
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-secondary"
          (click)="deleteIndex = -1"
          type="button"
          data-dismiss="modal"
        >
          انصراف
        </button>
        <button
          class="btn btn-danger"
          (click)="deleteAll()"
          data-dismiss="modal"
        >
          حذف
        </button>
      </div>
    </div>
  </div>
</div>
